<h1>INFINITE CAROUSEL</h1>
<div class="wrap">
  <div class="window">
    <div id="carousel" #carousel
      [ngStyle]="carouselStyle()"
      (mousedown)="selectSlide($event, true)"
      (mouseup)="selectSlide($event, false)"
      (mousemove)="dragSlide($event)">
      <span
        *ngFor="let slide of slides;trackBy: trackByFn"
        class="slide" [id]="'b'+ slide.id">{{slide.text}}</span>
    </div>
  </div>
  <span id="prev" (click)="nextSlide()">PREV</span>
  <span id="next" (click)="prevSlide()">NEXT</span>
</div>