/* Add application styles & imports to this file! */
body {
    background: #333;
    color: #fff;
    font-size: 22pt;
    text-align: center;
    font-family: 'Teko';
    letter-spacing: 0.15em;
  }
  
  body * { -webkit-user-select: none }
  